layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:tab-bar"
        }
    }
    tab name="🧮 Servers"  {
        pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane command="pnpm" name="📚 Docs | 4000 | docs.inferno.dev" cwd="../" {
                args "nx" "dev" "docs"
            }
                pane command="pnpm" name="🏛 Slides | 3030 | slides.inferno.dev" cwd="../" {
                    args "nx" "dev" "slides"
                }
            /- pane size="80%" command="pnpm" name="💿 Database | 5432 | Nix-PostgreSQL" close_on_exit=true cwd="../" {
                args "nx" "up" "infra"
            }
            }

        pane split_direction="horizontal" {
            pane command="pnpm" name="🏛 Arch | 5173 | arch.inferno.dev" cwd="../" {
                args "nx" "dev" "arch"
                start_suspended true
            }
            pane command="pnpm" name="🗺 Project Graph - Nx | 4211 | graph.inferno.dev" cwd="../" {
                    args "nx" "graph" "--groupByFolder" "--open='false'" "--verbose"
                }
                }
        }
      floating_panes {
        pane command="btop" name="🩺 System Health - btop" {
        }
        }
    }
    tab name="🔥 Status" {
        pane split_direction="vertical" {
        pane split_direction="horizontal" {
        pane command="lazygit" name="🍒 Lazygit" {
        }
        pane command="yazi" name="🦆 Yazi" cwd="../" {
        }
        }
        pane command="hx" name="🧬 Helix" cwd="../" {
        args "LICENSE"
        }
        }
      floating_panes {
        pane command="tgpt" name="🧠 TGPT" {
        args "-m"
        }
        }
    }
    /- tab name="💿 Database" {
        pane command="lazysql" name="Lazysql" {
            args "postgres://postgres:password@127.0.0.1:5432/postgres?sslmode=disable"
        }
    }
    tab name="👀 Previews" hide_floating_panes=true {
                pane command="browsh" name="Web Browser Preview" cwd="../" {
                    args "http://localhost:4000" "http://localhost:3030"
                    start_suspended true
                }
    }
    tab name="🤹" hide_floating_panes=true {
        pane split_direction="vertical" {
        pane split_direction="horizontal" {
        pane command="cmatrix" name="cmatrix" {
            args "-C" "red"
        }
        pane command="bash" name="figlet" {
            args "-c" "figlet -f slant 'Inhale Speed, Exhale Power' | tte burn --starting-color ff0000 --final-gradient-stops eabb00 f45f00 ff0000 --final-gradient-steps 12 --final-gradient-direction horizontal"
        }
        }
        pane split_direction="horizontal" {
        pane command="cacafire" name="cacafire" {
            start_suspended true
        }
        pane command="fastfetch" name="fastfetch" {
        }
        }
        }
    /-    floating_panes {
            pane command="atac" name="{A}rguably a {T}erminal {A}PI {C}lient" {
                args "--no-ansi-log"
            }
        }
        }
/-     tab name="🧮 Systemctl" hide_floating_panes=true {
        pane command="systemctl-tui" name="systemctl" {
        }
    }
}
